.env
.env.local
.env.*.local
.env.development
.env.production
node_modules/
dist/
.DS_Store
*.log
.vscode/
.idea/
pb_data/
/pocketbase.exe
/pocketbase
!/pocketbase/
!/pocketbase/**
pocketbase*.zip

.vercel
